html {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.app-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

img{
  max-width: 4rem;
}

button, a {
  width: 150px; 
  cursor: pointer; 
  background-color: white; 
  margin: 10px auto 0px auto; 
  border: 2px solid #468ACA; 
  border-radius: 100px; 
  padding: 1px 10px;
  color: #468ACA;
  font-weight: bold;
  font-size: 11px;
}

/* Mailboxes */
.mailboxes {
  font-size: 14px;
}

.mailboxes p {
  margin: 0px;
}

/* Recipient Lookup Button */
.app-body > .recipient-lookup button {
  display:none;
  align-items: center;
  justify-content: space-evenly;
}

.app-body > .recipient-lookup img {
  width: 25px; 
  height: 20px;
}

.no-email {
  display:none;
}


/* Freshdesk Tickets */
.freshdesk-tickets {
  color: red;
}
.count {
  font-size: 40px;
}

.counter span {
  display: block;
  text-align: center;
}

.freshdesk-tickets > a {
  text-decoration: none;
  display: block;
  color: red;
  border-color: red;
  width: 100px;
}
